<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680712003699-2q9pbg0ao28ed3qhcuh1k0srjd1qd34o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680712003699-2q9pbg0ao28ed3qhcuh1k0srjd1qd34o</string>
	<key>API_KEY</key>
	<string>AIzaSyCrjqgthnk2gQeovhTsjA10V-r6sd1YFSY</string>
	<key>GCM_SENDER_ID</key>
	<string>680712003699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anurag.beaconFlutter</string>
	<key>PROJECT_ID</key>
	<string>beaconflutter-ce00c</string>
	<key>STORAGE_BUCKET</key>
	<string>beaconflutter-ce00c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680712003699:ios:a290dba1efa43468020a06</string>
</dict>
</plist>